:root {
  --intro-bg: url(desktop/image-hero-coffeepress.jpg);
}

.intro-bg {
  background-image: var(--intro-bg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 7rem 5rem;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  overflow: hidden;
}

.intro-title {
  color: var(--white);
  width: 10ch;
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}

.intro-para {
  color: var(--grey);
  max-width: 45ch;
  margin-bottom: 4rem;
}

@media screen and (max-width: 778px) {
  :root {
    --intro-bg: url(tablet/image-hero-coffeepress.jpg)
  }

  .intro-bg {
    /* background-size: contain; */
    padding: 5rem 3rem;
  }

  .intro-title {
    font-size: 3.2rem;
  }
}
