.procedure {
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.procedure-title {
  font-size: 2rem;
  color: var(--grey);
  margin-bottom: 5rem;
}

.bullets {
  height: 2px;
  width: 100%;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.line {
  position: relative;
  background-color: var(--coffee-brown);
  grid-column: 1/2;
}

.bullet {
  position: absolute;
  background-color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 2px solid var(--cyan);
  transform: translateY(-50%);
}

.bullet-2 {
  left: 50%;
}

.bullet-3 {
  left: 100%;
}

.procedure-cards {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.procedure-card {
  padding-right: 2.5rem;
  display: flex;
  flex-direction: column;
}

.procedure-card h1 {
  color: var(--coffee-brown);
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.procedure-card h3 {
  color: var(--darker-cyan);
  width: 10ch;
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 2.5rem;
}

.procedure-card p {
  max-width: 35ch;
}

@media screen and (max-width: 685px) {
  .procedure {
    text-align: center;
  }

  .procedure-title {
    text-align: center;
  }

  .bullets {
    display: none;
  }

  .procedure-cards {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    text-align: center;
  }

  .procedure-card {
    padding-right: 0;
    justify-content: center;
    align-items: center;
  }

  .procedure-card h3 {
    width: 100%;
  }
}
