.quality {
  position: relative;
  background-image: url(desktop/bg-quality.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 5rem;
  margin-top: 4rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}

.quality div {
    margin-bottom: 5rem;
}

.quality-title {
  color: var(--white);
  margin-bottom: 2rem;
}

.quality-img {
  position: absolute;
  width: 22rem;
  height: 26rem; 
  top: -4rem;
  right: 5rem;
  border-radius: 0.5rem;
}
