:root {
  --intro-bg: url(desktop/image-hero-coffeepress.jpg);
}

.intro-bg {
  background-image: var(--intro-bg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 7rem 5rem;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  overflow: hidden;
}

.intro-title {
  color: var(--white);
  max-width: 10ch;
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}

.intro-para {
  color: var(--grey);
  max-width: 45ch;
  margin-bottom: 4rem;
}

@media screen and (max-width: 778px) {
  :root {
    --intro-bg: url(tablet/image-hero-coffeepress.jpg)
  }

  .intro-bg {
    padding: 5rem 3rem;
  }

  .intro-title {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 550px) {
  :root {
    --intro-bg: url(mobile/image-hero-coffeepress.jpg)
  }

  .intro-bg {
    padding: 4rem 2rem;
    text-align: center;
  }

  .intro {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro-title {
    font-size: 3rem;
  }

  .intro-para {
    max-width: 90%;
  }
}

@media screen and (max-width: 620px) {
  .intro-bg {
    margin-top: 91px;
  }
}

@media screen and (max-width: 420px) {
  .intro-bg {
    padding: 4rem 1rem;
  }
}

@media screen and (max-width: 375px) {
  .intro-title {
    font-size: 2.5rem;
  }
} 