.nav {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
}

.links li {
  margin-left: 2rem;
  font-size: 0.8rem;
  font-weight: 700;
}

.links a {
  color: var(--grey);
  border-radius: 0.3rem;
  transition: all 0.4s ease-in-out;
}

.links a:hover {
  padding: 0.7rem 1.5rem;
  color: var(--white);
  background-color: var(--coffee-brown);
}
