.procedure,
.bullet {
  background-image: url("desktop/bg-steps.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.procedure {
  width: 100%;
  padding: 0 5.5rem;
  border-radius: 0.5rem;
}

.bullet {
  background-size: auto;
}

.procedure-card h3 {
    color: var(--white)
}