.procedure,
.bullet {
  background-image: url("desktop/bg-steps.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.procedure {
  width: 100%;
  padding: 5rem 5.5rem;
  border-radius: 0.5rem;
}

.procedure-cards {
  margin: 0;
}

.bullet {
  background-size: auto;
}

.procedure-card h3 {
    color: var(--white)
}

@media screen and (max-width: 1070px) {
  .procedure {
    text-align: center;
  }

  .procedure-title {
    text-align: center;
  }

  .bullets {
    display: none;
  }

  .procedure-cards {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    text-align: center;
  }

  .procedure-card {
    padding-right: 0;
    justify-content: center;
    align-items: center;
  }

  .procedure-card h3 {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .procedure {
    padding: 5rem 3rem;
  }
}

@media screen and (max-width: 450px) {
  .procedure {
    padding: 5rem 1.5rem;
  }
}

@media screen and (max-width: 370px) {
  .procedure {
    padding: 5rem 1rem;
  }
}
