.footer-bg {
  background-color: var(--dark-grey);
  width: 100%;
  padding: 3rem;
  margin: auto;
  margin-bottom: 5rem;
}

.footer {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul {
  display: flex;
  gap: 2rem;
}

.footer li {
  display: flex;
  justify-content: flex-start;
}

.footer a {
  color: var(--grey);
  font-weight: 600;
  text-align: center;
  display: inline-block;
}

@media screen and (max-width: 985px) {
  .footer {
    flex-direction: column;
    gap: 2rem;
  }

  .footer ul {
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 475px) {
  .nav-links {
    flex-direction: column;
  }
}