* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

:root {
  --cyan: #0b858a;
  --darker-cyan: #052b2c;
  --grey: #a1a5a5;
  --dark-grey: #4a4b4b;
  --light-grey: #bec5c5;
  --coffee-brown: #e4a870;
  --white: #f0f1f1;
}

body {
  padding: 0 4rem;
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
}

p {
  color: var(--dark-grey);
  line-height: 1.5rem;
}

.btn {
  font-family: "Fraunces", serif;
  color: var(--white);
  background-color: var(--cyan);
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--coffee-brown);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
