* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

:root {
  --cyan: #0E8784;
  --darker-cyan: #052b2c;
  --grey: #9c9e9e;
  --dark-grey: #333D4B;
  --light-grey: #bec5c5;
  --coffee-brown: #fdd6ba;
  --white: #f0f1f1;
}

body {
  padding: 0 4rem;
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
}

p {
  color: var(--grey);
  line-height: 1.5rem;
}

.btn {
  font-family: "Fraunces", serif;
  color: var(--white);
  background-color: var(--cyan);
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  transition: 0.3s;
}

.btn:hover {
  color: var(--darker-cyan);
  background-color: var(--coffee-brown);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
