.commitment {
  padding: 10rem 5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.commitment-img {
  height: 30rem;
  border-radius: 0.5rem;
}

.commitment-title {
  color: var(--darker-cyan);
  margin-bottom: 2.5rem;
}
